* {
    margin: 0;
    padding: 0;
}

table {
    border-spacing: 1px;
    border: 1px solid black;
}

tr.spawnArea {
    display: none;
}

td {
    width: 30px;
    height: 30px;
    background-color: cornsilk;
}

td.ZShape {
    background-color: red;
}

td.SShape {
    background-color: lawngreen;
}

td.LineShape {
    background-color: darkblue;
}

td.TShape {
    background-color: yellow;
}

td.SquareShape {
    background-color: deeppink;
}

td.LShape {
    background-color: darkorange;
}

td.MirroredLShape {
    background-color: deepskyblue;
}