/*
td.NoShape { background-color: #333;}
td.ZShape { background-color: red;}
td.SShape { background-color: lawngreen;}
td.LineShape { background-color: royalblue;}
td.TShape { background-color: yellow;}
td.SquareShape { background-color: hotpink;}
td.LShape { background-color: darkorange;}
td.MirroredLShape { background-color: deepskyblue;}*/
